# QArray
qarray


# Core ML/RL dependencies
torch
torchvision
ray[rllib]
wandb[media]
gymnasium
jax[cuda12]

# Development tools
# pytest
# ruff
# black
# mypy

# Data and visualization
numpy
matplotlib
pyyaml

# Additional dependencies for quantum device simulation
scipy
scikit-learn
scienceplots
